* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #0092fd;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #ffffff;
    padding: 3rem;
    border-radius: 0.8em;
}

h1 {
    font-size: 2em;
    margin-bottom: 1em;
    text-align: center;
}

input {
    width: 60%;
    height: 50px;
    border: 1px solid #000000;
    padding: 1em;
    border-radius: 0.7em;
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 20px;
}

button {
    background-color: #0092fd;
    height: 50px;
    margin-left: 2px;
    font-size: 1.2rem;
    text-align: center;
    font-weight: 600;
    color: #ffffff;
    border: none;
    width: 38%;
    border-radius: 0.7em;
    margin-bottom: 10px;
}

#barcode{
    margin-left: 35%;
}