* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  width: 400px;
  height: 400px;
  background: linear-gradient(#f3f3fb 50%, #377dff 50%);
}
.wrapper {
  background-color: #ffffff;
  padding: 5em 4em;
  position: absolute;
  width: 31.25em;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 0.6em;
  box-shadow: 0 1.5em 3em rgba(3, 21, 55, 0.3);
}
#userInput {
  width: 100%;
  border: none;
  border-bottom: 2px solid #000000;
  padding: 0.5em 1em;
  font-size: 1em;
  outline: none;
}
.options {
  margin-top: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
select {
  appearance: none;
  width: 8em;
  padding: 0.45em 0.9em;
  font-size: 1.25em;
  letter-spacing: 0.5px;
  cursor: pointer;
  background-color: #377dff;
  border: none;
  color: #ffffff;
  background-image: url(arrow.png);
  background-repeat: no-repeat;
  background-size: 1.1em;
  background-position: 6em;
  outline: none;
  border-radius: 0.3em;
}
select::-ms-expand {
  display: none;
}
select option {
  background-color: #ffffff;
  color: #377dff;
  letter-spacing: 0.06em;
  font-weight: 400;
  font-size: 1.12em;
}
.selected {
  display: none;
}
.color-inp {
  appearance: none;
  background-color: transparent;
  width: 3.1em;
  height: 3.4em;
  outline: none;
  border: none;
}
.color-inp::-webkit-color-swatch {
  border-radius: 0.3em;
  border: 0.18em solid #191f3f;
}
.color-inp::-moz-color-swatch {
  border-radius: 0.3em;
  border: 0.18em solid #191f3f;
}
.box {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.box button,
.box a {
  font-size: 1em;
  padding: 0.8em 2em;
  border-radius: 0.5em;
  margin-top: 2em;
}
.box button:disabled {
  background-color: transparent;
  color: #a3aab6;
  border: 0.18em solid #a3aab6;
}
.box button {
  background-color: transparent;
  color: #377dff;
  border: 0.18em solid #377dff;
}
.box a {
  background-color: #377dff;
  color: #ffffff;
  text-decoration: none;
  border: 0.18em solid #377dff;
}
.container {
  display: flex;
  justify-content: center;
  margin-top: 1.8em;
}
.hide {
  display: none;
}
