#selectedTextList {
  margin-top: 10px; /* Adjust margin as needed */
  padding: 0;
  list-style-type: none;
}

body {
  font-family: "Bebas Neue", sans-serif;
  margin: 0;
  padding: 20px;
  border-radius: 10px; /* Add this line for rounded corners */
  background-color: #9ac8cd;
}

#highlightButton {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1px;
  background-color: #0e46a3;
  color: #e1f7f5;
  padding: 10px;
  border-radius: 4px;
}

#noteTextarea {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 200px;
  font-style: normal;
  letter-spacing: 1px;
  border-radius: 5px;
  background-color: #e1f7f5;
}

.title {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.btndiv {
  padding-bottom: 10px;
}

#removeButton {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1px;
  background-color: #0e46a3;
  color: #e1f7f5;
  padding: 10px;
  border-radius: 4px;
}
