mixin OurTeam
  -
    var teamMembers = [
      {
        name: 'Michael Lurie',
        position: 'CEO',
        avatar: 'img1.png',
      },
      {
        name: 'Jessica Wanda',
        position: 'Art Director',
        avatar: 'img2.png',
      },
      {
        name: 'Roland Keith',
        position: 'Cinematographer',
        avatar: 'img3.png',
      },
      {
        name: 'Diane Givens',
        position: 'Art Director',
        avatar: 'img4.png',
      },
      {
        name: 'John Brown',
        position: 'CEO',
        avatar: 'img5.png',
      },
    ]

  +Section.py-2
    .row.justify-content-center 
      .col-10 
        .row.justify-content-center 
          each member in teamMembers
            .col-lg-4.col-md-6.d-flex.justify-content-center
              .card.border-0.mb-3
                img.card-img-top(src=`${CWD}assets/img/team/${member.avatar}` alt="")
                .row.g-0.card-body.px-0.pt-2
                  .col-12.col-xl-8.text-center.text-xl-start
                    h4=member.name
                    p.text-warning.mb-2=member.position
                  .col-12.col-xl-4.justify-content-center.fs-2.d-flex.gap-1
                    a(href="#!")
                      span.team-social-icon.fab.fa-linkedin.ml-3
                    a(href="#!")
                      span.team-social-icon.fab.fa-facebook.ml-3
                    a(href="#!")
                      span.team-social-icon.fab.fa-instagram.ml-3

