extends layouts/LayoutTheme
include mixins/about/OurTeam


append variables
  - 
    var pageInfo = {
      pageTitle: 'About',
      pageSubtitle: 'Our Team',
    }


append styles  

prepend scripts


block content 
  +OurTeam