extends layouts/LayoutTheme
include mixins/blog/Blogs
include mixins/blog/Contact


append variables
  - 
    var pageInfo = {
      pageTitle: 'Blog',
      pageSubtitle: 'Recent update',
    }


append styles  

prepend scripts


block content 
  +Blogs 
  +Contact