extends layouts/LayoutTheme
include mixins/exhibition/ExhibitionSlides


append variables
  - 
    var pageInfo = {
      pageTitle: 'Exhibitions',
      pageSubtitle: 'Online & Offline',
    }


append styles  

prepend scripts


block content 
  +ExhibitionSlides 
