extends layouts/LayoutTheme
include mixins/home/Hero



append variables
  - 
    var pageInfo = {
      pageTitle: 'Home',
    }


append styles  

prepend scripts


block content 
  +Hero
  





