body{
    margin: 0;
    padding: 0;
    justify-content: center;
    display: flex;
    align-items: center;
    overflow: hidden;
    margin: 10px 20px 20px;
}

.background_image{
    border-radius: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(images/background.jpeg);
    background-size: contain;
    background-position: center;
    display: flex;
    filter:blur(3px);
    z-index: -1;
}

.content{
    position: relative;
    flex-direction: row;
    align-items: center;
    margin-top: 100px;
    bottom: 50px;
    background-color: antiquewhite;
    padding: 10px 35px;
    border-radius: 20px;
    border: 5px solid rgb(2, 5, 15);
    box-shadow: 0em 1em 3em rgb(2, 5, 15);
    font-size: medium;
}

.sub{
    position: relative;
    right:30px;
    max-width: 100px;
}


.button{
    position: relative;
    background-color: darksalmon;
    border-radius: 5px;
    top:20px;
    width: 100%;
    height: 100%;
    padding: 10px 20px;
}
