body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: radial-gradient(circle, rgba(100, 232, 255, 0.913), rgba(56, 59, 248, 0.788));
}

h2 {
    font-size: 24px;
}

#calculator {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: rgb(235, 251, 253);
    color: rgb(44, 44, 44);
    border-radius: 8%;
    width: 90vw;
    max-width: 500px;
    height: auto;
    box-shadow: rgba(100, 232, 255, 0.913) 15px 20px 40px,
                rgba(56, 59, 248, 0.788) 5px 5px 10px;
}

input {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 0.3em;
    font-size: 15px;
}

label {
    font-size: 18px;
}

button {
    padding: 10px;
    cursor: pointer;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-top: 10px;
    border-radius: 10px;
    font-family: serif;
    background-color: rgba(100, 232, 255, 0.913);
}

button:hover {
    background-color: rgb(82, 159, 222);
    box-shadow: rgba(56, 59, 248, 0.788) 2px 2px 3px,
               rgba(56, 59, 248, 0.788) 1px 1px 1px;
}
