*{
    border: none;
    outline: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html, body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(background-blue-aesthetic-flowers.jpg);
    background-color: #0288d1;
    color: #181818;
}

.container{
    padding: 20px 80px;
    background: rgba(61, 132, 165, .2);
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, .7);
    backdrop-filter: blur(10px);
    border-radius: 10px;
}

.container h1{
    text-align: center;
    color: #fff;
}

.container-field{
    padding: 20px 80px;
    max-width: 400px;
    background: rgba(179, 229, 252, .4);
    border-radius: 10px;
}


.input-group{
    margin-top: 10px;
    width: 110%;
    display: flex;
    justify-content: space-between;
}

.input-label{
    font-size: 20px;
}

.btn
{
    background: #e7f7ff;
    font-size: 16px;
    display: block;
    margin: 10px auto;
    width: fit-content;
    border: 1px solid #3d84a5;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #181818;
    transition: background 0.5s; 
}

.btn:hover
{
    background: #3d84a5;
    color: #fff;
}

.tool-error-border{
    border: 2px solid red;
}

.tool-error-message{
    display: block;
    color: red;
    font-size: 14px;
    font-style: italic;
    font-weight: 800;
    margin: 5px 5px 0 5px;
    position: absolute;
    bottom: 1px;
    right: 0px;
}