html {
  box-sizing: border-box;
  font-size: 10px;
  background: #8e24aa;
  background: linear-gradient(
    45deg,
    hsl(0, 90%, 61%) 0%,
    hsl(0, 60%, 55%) 50%,
    hsl(216, 27%, 41%) 100%
  );
  /* #42a5f5 #478ed1 #0d47a1*/
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  text-align: center;
  font-family: "Inconsolata", monospace;
}

.display__time-left {
  font-weight: 100;
  font-size: 8rem;
  margin: 0;
  color: white;
  text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.05);
}

.timer {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.timer__controls {
  display: flex;
}

.timer__controls > * {
  flex: 1;
}

.timer__controls form {
  flex: 1;
  display: flex;
}

.timer__controls input {
  flex: 1;
  border: 0;
  padding: 1rem;
  max-width: 12rem;
}

.timer__button {
  background: none;
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 1.5rem;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1rem 1.5rem;
  font-family: "Inconsolata", monospace;
}

.timer__button:hover,
.timer__button:focus {
  background: rgba(0, 0, 0, 0.2);
  outline: 0;
}

.display {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.display__end-time {
  font-size: 2rem;
  color: white;
}

.reset,
.pause {
  background: rgba(0, 0, 0, 0.1);
  border: 2px solid rgba(0, 0, 0, 0.2);
  color: white;
  padding: 0.8rem 2.1rem;
  font-family: "Inconsolata", monospace;
  font-size: 2rem;
  margin: 0.8rem;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
  transform: translateY(5rem);
  transition: all 0.3s;
}

.displayReset {
  visibility: visible;
  opacity: 1;
  cursor: pointer;
  transform: translateY(0);
  transition: all 2s;
  transition-timing-function: cubic-bezier(0, 1.13, 0, 1.03);
}

.disablePauseBtn {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.3;
}

#author {
  font-size: 1.1rem;
  color: white;
  position: absolute;
  text-align: center;
  bottom: 1rem;
}
