

div#main-outer {
    width: 575px;
    height: auto;
    margin: 4px;
    border-radius: 5px;
}

div#main-inner {
    padding: 8px;
}

div#main-title {
    font-size: 16px;
    text-align: center;
    font-weight: bold;
}

img#main-image {
    display: block;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
}

div#main-about-text {
    margin-top: 10px;
    text-align: center;
}
table {
    border-collapse: collapse;
    width: 100%;
}

td {
    padding: 3px;
    border-top: 1px solid #ddd;
}