body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    width: 300px;
    background-color: #f0f2f5;
}

.container {
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="text"],
input[type="date"],
input[type="time"] {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: border-color 0.3s;
}

input[type="text"]:focus,
input[type="date"]:focus,
input[type="time"]:focus {
    border-color: #007bff;
    outline: none;
}

button {
    padding: 10px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

#tasks {
    margin-top: 20px;
}

.task {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #fafafa;
}

.task:hover {
    background-color: #f0f2f5;
}

.task-name {
    font-weight: bold;
}

.task-time {
    color: #777;
}


@media only screen and (max-width: 600px) {
   .container{ padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
  width:500px;
    margin-top: 70%;
    height: 500px;
    margin-left:10px;
   }

}
