body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    width: 600px;
    height: 400px; 
    color: #333;
}

.container {
    width: 90%;
    max-width: 1200px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
}

.items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
}

input[type="text"] {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

#check {
    margin: 20px 0;
}

#note {
    font-size: small;
    color: #777;
    text-align: left;
}

.footer {
    position: fixed;
    padding: 10px;
    bottom: 0;
    width: 100%;
    background: rgb(138, 150, 143);
    text-align: center;
    color: white;
}

.footer a {
    color: white;
    text-decoration: none;
}