body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    background: linear-gradient(to right, #4facfe, #00f2fe);
}

.container {
    background-color: #ffffff;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    width: 100%;
    height: auto;
    margin: 10px 10px;
}

h1,
h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333333;
    font-size: 24px;
    font-weight: bold;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
    color: #555555;
}

input,
select,
textarea {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 14px;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
}

button:hover {
    background-color: #0056b3;
}

.output {
    margin-top: 20px;
}

#emailOutput {
    width: 100%;
    height: 200px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 12px;
    font-size: 14px;
    color: #333333;
    background-color: #f9f9f9;
}

.error {
    color: red;
    margin-top: 10px;
}

.saved-email {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

.saved-email button {
    margin-top: 10px;
    background-color: #dc3545;
    color: white;
}

.saved-email button:hover {
    background-color: #c82333;
}