body {
    background: #000;
    color: #fff;
}

.wrapper {
    max-width: 90%;
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin: 30px;
}

table {
    margin-top: 30px
}

.display-none {
    display: none;
}

tbody td {
    text-transform: uppercase;
}