body {
    font-family: Arial, sans-serif;
    padding: 10px;
}

a {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: #0366d6;
}

#search-container {
    margin-bottom: 20px;
}