body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('./assets/background.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.about {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    width: 400px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #fbf161;
}

h2 {
    margin-top: 20px;
    font-size: 20px;
    color: #fbf161;
}

p {
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 1.5;
}

ul {
    text-align: left;
    margin-bottom: 20px;
}

li {
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #fbf161;
    color: black;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #89f121;
}
