body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('./assets/background.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.calculator {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    width: 300px;
    height: 300px; /* Ensure the calculator is square */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 18px;
    color:  #fbf161;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color:  #fbf161;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #fbf161;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
    background-color: #333;
    color: white;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #fbf161;
    color: black;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #89f121;
}

#result {
    margin-top: 10px;
    font-size: 16px;
    color:  #fbf161;
}