html,body {
    width: 400px;
    height: 450px;
    position: relative;
    overflow:auto;
    margin-bottom: 45px;
    margin-right: 8px;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

div.stick {
    position: sticky;
    top: 0;
}
textarea {
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
    overflow: hidden;
}
h3 {
    background-color: #f3b48a;
    font-family: roboto;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
}
h4 {
    font-family: roboto;
    text-align: center;
}
div {
    max-height: 300px;
    padding-right: 8px;
}
button.smileys-button, button.food-button, button.nature-button, button.places-button,
button.activities-button, button.objects-button, button.symbols-button, button.flags-button {
    background: none;
    border: none;
    font-size: 200%;
    font-family: segoe ui emoji;
}
#settings {
    float: right;
    background-color: #f5c5a5;
    border: none;
    border-radius: 5px;
    border: 1px solid black;
}
button.select, button.tone {
    background: none;
    border: none;
    font-size: 170%;
    font-family: segoe ui emoji;
}

button.select:hover, button.tone:hover {
    background: rgba(196, 196, 196, 0.726);
    border: rgba(196, 196, 196, 0.726);
    font-size: 170%
}
button.emoji:hover {
    background: rgb(223, 223, 223);
    border: rgb(223, 223, 223);
    font-size: 200%
}
#smileys, #animals, #food, #nature, 
#activities, #objects, #symbols, #flags {
    float: center;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 30px;
    width: 100%;
    background-color: rgba(233, 233, 233, 0.925);
    color: white;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
