:root {
    --bgcolor: #363e5e;
    --fontcolor1: rgb(255, 255, 255);
    --bordercolor:#ffffff;
    --specialcolor: #00a29d;
  }
  body{
    margin: 0;
    padding: 3px;
    font-family: sans-serif;
    background-color: transparent;
    width: 550px;
    color: var(--fontcolor1);
    height: 550px;
    background-color: #111;
  }
  
  .social{
    position: absolute;
    top: 0;
    padding: 10px;
    user-select: none;
  }
  .social a{
    text-decoration: none;
  }
  .social i{
    font-size: 14px;
    font-weight: bolder;
    margin: 0 2px;
    padding: 5px;
    border-radius: 50%;
    border: 1px solid #7d7d7d;
    background-color: rgb(0, 0, 0);
    color: black;
    background-color: #7d7d7d;
    transition: all 0.2s ease;
  }
  .social i:hover{
    border: 1px solid black;
  }
  .social i:active{
    border: 1px solid #7d7d7d;
  }
  .contact{
    text-align: center;
    margin: 0;
    padding: 5px;
  }
  .contact p{
    font-size: 10px;
    margin: 0;
    padding: 2px;
    color: #ccc;
  }
  .contact a{
    font-weight: 600;
    color: #94e7e5;
  }
  
  
  /* h3{
     font-size: 18px;
     text-align: center;
     font-weight: 500;
     color: #efefef;
     letter-spacing: 1px;
     margin: 5px;
     user-select: none;
  } */
  .Options{
     display: flex;
     justify-content: center;
     padding: 5px;
     margin: 5px;
  
  }
  .Options a {
    text-decoration: none !important;
  }
  .Options .btnOpt{
     background-color: white;
     width: 60px;
     color: black;
     padding: 5px 10px;
     user-select: none;
     font-size: 12px;
     margin: 5px 10px;
     text-align: center;
     border-radius: 5px;
     cursor:pointer;
     transition: ease 0.3s;
     font-weight: 600;
     border: 1px solid #111;
  }
  .Options .btnOpt:hover{
    border-color: white;
  }
  .Options .okactive{
    background-color: #00a29d;
    color: white;
  }
  .Options .fa-solid{
     position: relative;
     font-size: 14px;
  }
  .MainCon{
     /* border: 1px solid var(--bordercolor); */
     height: 450px;
     margin: 0 10px;
     overflow: scroll;
     color: #303443;
  }
  .MainCon .equaldiv{
     width: 520px;
     height: 445px;
     background-color: var(--bordercolor);
     margin: 0 4px;
     border-radius: 10px;
     overflow: hidden;
  }
  .MainCon #Alarm .tableitem .update {
    color: red;
    top: 0;
    font-size: 12px;
  }
  
  
  .MainCon #Home .optTool {
  display: flex;
  /* justify-content: center; */
  padding: 5px;
  }
  
  .MainCon #Home .optTool .btnOpt{
  user-select: none;
  width: 80px;
  height: 15px;
  font-size: 12px;
  font-weight: 600;
  padding: 5px;
  margin: 5px;
  text-align: center;
  border: 2px solid #7d7d7d;
  border-radius: 5px;
  cursor:pointer;
  transition: all 0.2 ease;
  }
  .MainCon #Home .optTool .btnOpt:hover{
    box-shadow: 0 1px 3px #999;
  }
  .MainCon #Home .optTool .okactive {
  border: 2px solid var(--specialcolor);
  background-color: var(--specialcolor);
  color: white;
  }
  .MainCon #Home .fil{
  position: relative;
  text-align: center;
  right: -150px;
  padding: 0 5px;
  margin: 5px;
  border: 2px solid #7d7d7d;
  font-weight: 600;
  border-radius: 5px;
  overflow: hidden;
  transition: all ease 0.2s;
  cursor: pointer;
  }
  .MainCon #Home .fil select{
    height:100%;
    font-size: 12px;
    outline: none;
    border: none;
    cursor: pointer;
  }
  .MainCon #Home .fil:hover{
    box-shadow: 0 1px 3px #999;
  }
  .MainCon #Home .tableCon ,.MainCon #Alarm .alarmCon {
  /* border: 1px solid #303443; */
  width: 510px;
  height: 380px;
  margin: 4px;
  overflow: scroll;
  }
  .MainCon #Alarm .alarmCon {
    height: 400px;
  }
  .MainCon #Home .tableCon .tableitem , .MainCon #Alarm .alarmCon .tableitem {
   border: 1px solid #c3c3c3;
   margin: 10px 5px ;
   display: flex;
   border-radius: 10px;
   transition: all ease-in-out 0.25s;
   overflow: hidden;
  }
  .MainCon #Home .tableCon .tableitem:hover , .MainCon #Alarm .alarmCon .tableitem:hover {
  box-shadow: 0 2px 3px #a1a1a1;
  border-color: #a1a1a1;
  }
  .MainCon #Home .tableCon .tableitem img , .MainCon #Alarm .alarmCon img{
  margin: 3px;
  width: 20px;
  height: 20px;
  /* border: 1px solid black; */
  box-shadow: inset 0 0 3px #cacaca;
  padding: 5px;
  border-radius: 50%;
  }
  a{
  text-decoration: none;
  }
  .MainCon #Home .tableCon .tableitem span ,.MainCon #Alarm .alarmCon span{
   font-size: 14px;
   position: relative;
   top: -15px;
   color: #232323;
   font-weight: 600;
   letter-spacing: 0.5px;
  }
  .MainCon #Home .tableCon .tableitem p , .MainCon #Alarm .alarmCon .tableitem p{
  margin: 0;
  padding: 0;
  color: #555;
  position: relative;
  top: -12px;
  margin-left: 40px;
  font-size: 12px;
  letter-spacing: 1px;
  margin-top: 2px;
  }
  .MainCon #Home .tableCon .tableitem .details{
  width: 450px;
  padding: 5px;
  }
  
  .MainCon #Alarm .alarmCon .tableitem .details{
  width: 450px;
  }
  .MainCon #Home .tableCon .tableitem .alarm , .MainCon #Alarm .alarmCon .tableitem .delete{
   width: 45px;
   text-align: center;
   font-size: 22px;
   transition: all ease 0.5s;
  }
  .MainCon #Home .tableCon .tableitem .alarm i {
   position: relative;
   top: 10px;
   right: 5px;
   cursor: pointer;
   color:white;
   font-size: 14px;
   background-color: var(--specialcolor);
   padding: 4px 5px;
   border: 3px solid var(--specialcolor);
   border-radius: 50%;
   transition: all ease 0.3s;
  }
  .MainCon #Alarm .alarmCon .tableitem i{
    position: relative;
    top: 10px;
    cursor: pointer;
    font-size: 24px;
    color: var(--specialcolor);
    border-radius: 50%;
    transition: all ease 0.3s;
  }
  .MainCon #Home .tableCon .tableitem .alarm i:hover, .MainCon #Alarm .alarmCon .tableitem i:hover{
    transform: scale(1.1);
  }
  .MainCon #Home .tableCon .tableitem .alarm i:active, .MainCon #Alarm .alarmCon .tableitem i:active{
    transform: scale(0.95);
  }
  .MainCon #Alarm .alarmCon .tableitem .fa-circle-xmark{
    background-color: red;
    color: white;
  }
  .MainCon #Home .tableCon .tableitem .alarm .fa-check{
    background-color: green;
    border: none;
    color: white;
  }
  /* ------------setting section----------- */
  .MainCon #Setting  h4, .MainCon #Alarm h4{
   margin: 0;
   padding: 7px;
   text-align: center;
   font-size: 16px;
   font-weight: 600;
   border-bottom: 2px solid var(--bgcolor);
  }
  
  .MainCon #Setting .eqplate{
   height: 40px;
   display: flex;
   align-items: center;
   user-select: none;
   justify-content:flex-start;
   font-size: 20px;
   border-left: 4px solid black;
   margin: 10px 10px;
   position: relative;
   transition: all ease-in-out 0.3s;
  }
  .MainCon #Setting .eqplate:hover{
   /* transform: scale(0.99); */
   border-left: 8px solid black;
  }
  .MainCon #Setting .eqplate .logo{
  width: 440px;
  padding-left: 10px;
  }
  .MainCon #Setting .eqplate .logo img{
   width: 30px;
  }
  .MainCon #Setting .eqplate .logo span{
  margin: 0;
  padding: 0;
  margin-left: 5px;
  position: relative;
  top: -8px;
  font-size: 16px;
  font-weight: 500;
  }
  .MainCon #Setting .eqplate .tick input{
  width: 20px;
  height: 20px;
  margin: 0;
  border-radius: 10px;
  cursor: pointer;
 
  }
  
  .hidden{
     display: none;
  }
  
  ::-webkit-scrollbar {
    width: 1px;
    height: 1px;
  }
  
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background: transparent;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: transparent;
  } 
  
  .emptyAlarm{
  user-select: none;
  font-size: 14px;
  text-align: center;
  color: #025e5b;
  border: 1px solid #00a29d;
  padding: 10px 5px;
  line-height: 1.2rem;
  margin-left: 3px;
  margin-top: 5px;
  border-radius: 10px;
  background-color: hsl(213, 82%, 96%);
  }
  .red-alert{
    color: #d10303;
    border: 1px solid #e81b1b;
    background-color: hsl(0, 81%, 96%);
  }
  /* ------ Loader   ------  */
  .loader{ 
  position: absolute;
  height: 100%;
  width: 100%;
  font-size: 40px;
  background: #111;
  text-align: center;
  }
  
  .loader h1 {
  margin: 0;
  padding: 0;
  font-family: ‘Arial Narrow’, sans-serif;
  font-weight: 100;
  font-size: 1.1em;
  color: #a3e1f0;
  }
  
  .loader h1 span {
  position: relative;
  top: 0.63em;  
  display: inline-block;
  text-transform: uppercase;  
  opacity: 0;
  transform: rotateX(-90deg);
  }
  
  .loader h1 .let1 {
  animation: drop 1.2s ease-in-out infinite;
  animation-delay: 1.2s;
  }
  
  .loader h1 .let2 {
  animation: drop 1.2s ease-in-out infinite;
  animation-delay: 1.3s;
  }
  
  .loader h1 .let3 {
  animation: drop 1.2s ease-in-out infinite;
  animation-delay: 1.4s;
  }
  
  .loader h1 .let4 {
  animation: drop 1.2s ease-in-out infinite;
  animation-delay: 1.5s;
  
  }
  
  .loader h1 .let5 {
  animation: drop 1.2s ease-in-out infinite;
  animation-delay: 1.6s;
  }
  
  .loader h1 .let6 {
  animation: drop 1.2s ease-in-out infinite;
  animation-delay: 1.7s;
  }
  
  .loader h1 .let7 {
  animation: drop 1.2s ease-in-out infinite;
  animation-delay: 1.8s;
  }
  
  @keyframes drop {
    10% {
        opacity: 0.5;
    }
    20% {
        opacity: 1;
        top: 3.78em;
        transform: rotateX(-360deg);
    }
    80% {
        opacity: 1;
        top: 3.78em;
        transform: rotateX(-360deg);
    }
    90% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
        top: 6.94em
    }
  }