@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

:root {
    --dark-background: #1d1d1d;
    --dark-color: #171717;
    --light-background: #f0f0f0;
    --light-color: #000;
    --highlight-color: #d4aa11;
}

body {
    font-family: 'Inter', sans-serif;
    transition: background-color 0.3s, color 0.3s;
}

body.light-mode {
    background-color: var(--light-background);
    color: var(--light-color);
}

body.dark-mode {
    background-color: var(--dark-background);
    color: var(--dark-color);
}

.wrapper {
    min-height: 100vh;
    background-color: var(--dark-color);
    transition: background-color 0.3s;
}

.search-container {
    background-color: var(--dark-background);
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-element {
    display: flex;
    flex-direction: column;
    position: relative;
}

.search-element h3 {
    color: var(--highlight-color);
}

.search-element .form-control {
    padding: 1rem 2rem;
    font-size: 1.4rem;
    border: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    outline: none;
    color: var(--dark-color);
    width: 350px;
}

.search-list {
    position: absolute;
    right: 0;
    top: 100%;
    max-height: 500px;
    overflow-y: auto;
    z-index: 10;
}

.search-list .search-list-item {
    background-color: var(--dark-background);
    padding: 0.5rem;
    border-bottom: 1px solid var(--dark-color);
    width: calc(350px - 8px);
    color: var(--light-color);
    cursor: pointer;
    transition: background-color 200ms ease;
}

.search-list .search-list-item:hover {
    background-color: var(--highlight-color);
}

.result-container {
    padding: 3rem 0;
}

.result-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
}

#theme-toggle {
    margin: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    background-color: var(--highlight-color);
    color: var(--light-color);
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
}
