body {
    font-family: Arial, sans-serif;
    padding: 10px;
    width: 300px;
  }
  
  h1, h2 {
    color: #333;
  }
  
  input[type="text"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
  }
  
  button {
    padding: 10px;
    width: 100%;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  #decks {
    margin-top: 10px;
  }
  