main {
    --main-bg-color: #ffffff;
    --main-text-color: #000;
    --main-link-color: #000;
    --main-link-hover-color: #000;
    --main-link-visited-color: #000;
    --main-link-active-color: #000;
    --main-link-focus-color: #000;
    --main-btn-text-color: #000;
    --main-btn-bg-color: #fff;
    --main-btn-hover-text-color: #000;
  
    height: 90vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: min(5vw, 5vh);
    grid-template-areas:
      'btn-1 btn-2 btn-3'
      'btn-4 btn-5 btn-6'
      'btn-wide btn-wide btn-wide';
  
    margin: 5vh 2vw;
  }
  
  main {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
  }
  
  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsla(0, 0%, 100%, 0.209);
    border: none;
    color: red;
    text-decoration: none;
    font-size: 36px;
    cursor: pointer;
  }
  .btn1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsla(88, 59%, 49%, 0.209);
    border: none;
    color: red;
    text-decoration: none;
    font-size: 36px;
    cursor: pointer;
  }
  
  .btn-primary {
    grid-area: auto / auto / auto / auto;
  }
  .btn-wide {
    grid-area: btn-wide;
    min-height: 10vh;
  }