.typewriter h1, .typewriter p {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    border-right: 0.15em solid orange;
    font-size: 24px;
    animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
  }
  
  @keyframes typing {
    from { width: 0; }
    to { width: 100%; }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: orange; }
  }
  