@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    min-width: 800px; /* your desired width */
  max-width: 100%;
  position: relative;
  vertical-align:middle;
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #fff;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.form-group {
    margin: 10px;
}

.form-group > label {
    font-size: 17px;
}

.form-group > input {
    font-size: 17px;
    padding: 5px;
    border-radius: 2px;
    border: 1px solid;
}

.form > button {
    background-color: #fda085;
    color: #fff;
    font-size: 17px;
    padding: 5px 40px;
    border: none;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
}

.form > button:hover {
    background-color: #f77d5c;
}

#resultContainer {
    margin-top: 20px;
    text-align: center;
}