body {
    font-family: "Arial", sans-serif;
    background: linear-gradient(50deg, #74134e, #9d0823);
    margin: 0;
    padding: 0;
    list-style: 1.6;
    height: 400px;
    width: 400px;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

@media screen and (max-width: 400px) {
    #formula {
        font-size: 2rem;
        font-weight: 600;
    }
}

.cal {
    text-align: center;
    color: #000000;
}

h1 {
    margin: 40px 0;
}

#label {
    font-size: 1.5rem;
    font-weight: bolder;
    color: black;
}

input {
    width: calc(100% - 100px);
    padding: 10px;
    margin: 10px 0 20px 0;
    box-sizing: border-box;
    font-size: 20px;
    border: 1px solid #000000;
    border-radius: 5px;
}

#result {
    margin: 1.4rem 0;
    font-size: 3rem;
    color: #000000;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
    color: #090707;
    font-size: 1.5rem; 
}

input,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border-radius: 10px;
}

button {
    width: 100%;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
    background-color: #016f10;
    color: #ffffff;
    border: none;
    border-radius: 9px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a09e;
}

#output-text {
    margin-top: 16px;
    font-weight: bold;
    color: #020101;
    text-align: center;
    font-size: 1.5rem; 
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.input {
    text-align: center;
    margin-bottom: 20px;
}

.output {
    text-align: center;
}

