* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image:
        radial-gradient(at 40% 20%, hsla(28, 100%, 74%, 1) 0px, transparent 50%),
        radial-gradient(at 80% 0%, hsla(189, 100%, 56%, 1) 0px, transparent 50%),
        radial-gradient(at 0% 50%, hsla(355, 100%, 93%, 1) 0px, transparent 50%),
        radial-gradient(at 80% 50%, hsla(340, 100%, 76%, 1) 0px, transparent 50%),
        radial-gradient(at 0% 100%, hsla(22, 100%, 77%, 1) 0px, transparent 50%),
        radial-gradient(at 80% 100%, hsla(242, 100%, 70%, 1) 0px, transparent 50%),
        radial-gradient(at 0% 0%, hsla(343, 100%, 76%, 1) 0px, transparent 50%);
    background-repeat: no-repeat;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #00000047;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb {
    background-color: #000;
    border-radius: 20px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.song-finder {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 2px solid #000;
    border-radius: 8px;
    width: 40%;
    height: 70px;
    margin-top: 30px;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(30px);
}

.input {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.input p {
    margin-right: 30px;
    color: #000;
    font-weight: 700;
}

.input img {
    backdrop-filter: blur (20px);
    width: 30px;
    height: 30px;
}

input {
    height: 30px;
    border-radius: 10px;
    background: rgba(161, 155, 155, 0.281);
    backdrop-filter: blur(20px);
    margin-right: 5px;
    padding-left: 5px;
    text-transform: uppercase;
}

main {
    position: relative;
    padding: 50px 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

main article {
    width: calc(100% / 3 - 50px);
    border-radius: 3px;
    overflow: hidden;
    margin-bottom: 25px;
    background: rgba(161, 155, 155, 0.281);
    backdrop-filter: blur(20px);
    border: 3px solid rgba(161, 155, 155, 0.281);
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

main article img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border: 4px solid rgba(161, 155, 155, 0.281);
}

main article p,
main article h4,
main article audio {
    padding: 2px 5px;
}

main article p {
    margin-top: 15px;
}

main article audio {
    margin-top: 10px;
    width: 100%;
}