* {
    color: white;
    font-family: sans-serif;
    transition: 0.2s ease-in-out;
    user-select: none;
}

.align {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #252A34;
    margin: 0;
    padding: 0;
    text-align: center;
    padding-top: 5vh;
}

main {
    min-height: calc(100vh - 211px - 5px);
}

.turn-container {
    width: 170px;
    height: 80px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    position: relative;
}

.turn-container h3 {
    margin: 0;
    grid-column-start: 1;
    grid-column-end: 3;
}

.turn-container .turn-box {
    border: 3px solid black;
    font-size: 1.6rem;
    font-weight: 700;
}

.turn-container .turn-box:nth-child(even) {
    border-right: none;
}

.bg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 85px;
    height: 40px;
    background-color: #ff2e63;
    z-index: -1;
}

.main-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 250px;
    width: 250px;
    margin: 30px auto;
    border: 2px solid black;
}

.box {
    cursor: pointer;
    font-size: 2rem;
    font-weight: 700;
    border: 2px solid black;
}

.box:hover {
    background-color: #ff2e63;
}

#play-again {
    background-color: #ff2e63;
    padding: 10px 25px;
    border: none;
    font-size: 1.2 rem;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

#play-again:hover {
    padding: 10px 40px;
    background-color: #08d9d6;
    color: black;
}