body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.upload-container {
    text-align: center;
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

input {
    margin: 10px 0;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#loadingMessage {
    display: none;
    margin-top: 20px;
    font-size: 1.5rem;
    color: #d14040;
}

#linkContainer {
    margin-top: 20px;
}

.link-div {
    margin-top: 10px;
    padding: 10px;
    background-color: #e9ecef;
    border-radius: 5px;
}

.link-div a {
    color: #007bff;
    text-decoration: none;
    cursor: pointer;
}

.link-div a:hover {
    text-decoration: underline;
}