body {
    background-color: #f0f4f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
    width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    overflow: hidden;
}

.calci {
    width: 100%;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
}

input#output {
    width: 100%;
    height: 60px;
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: right;
    padding: 10px 3px;
    font-size: 2rem;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #e9eef2;
    color: #333;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    height: 60px;
    border: none;
    border-radius: 10px;
    font-size: 1.5rem;
    transition: all 0.2s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #e9eef2;
    color: #333;
    cursor: pointer;
}

button:active {
    transform: scale(0.95);
}

button.function {
    background-color: #ffcc00;
}

button.operator {
    background-color: #4caf50;
    color: #fff;
}

button.equal {
    grid-column: span 2;
    background-color: #f44336;
    color: #fff;
}

button:hover {
    opacity: 0.9;
}
