:root {
  --grey: #f0f0f0; 
  --darkgreen: #24532f
}

body {
  font-family: "DM Mono", monospace;
    padding: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: var(--grey);
    color: black;
    font-weight: bold;
    font-size: 20px;
    height: 60vh;
  }
  
  #calculator {
    display: flex;
    flex-direction: column;
    flex: 0.5;
    background-color: transparent;
  }

  
  h2 {
    font-size: 40px;
  }

 
 .amount-btn,
 .tip-btn,
 .people-btn {
  font-size: 20px;
  width: 350px;
  height: 200px;
  padding: 10px 20px;
  margin-left: 100px;
  text-align: end;
  border-radius: 10px;
 }
  
 #calculateButton{
  margin-top: 20px;
  margin-left: 180px;
  text-align: center;
  justify-content: center;
  padding: 10px 15px;
  width: 250px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  background-color: var(--darkgreen);
  color: white;
  border: none;
}
  
  #result {
    margin-top: 10px;
    font-weight: bold;
  }
  