*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.popup-container{
    width: 180px;
    height: 100px;
    background-color: #1a202c;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to bottom, #d53a9d, #743ad5);

}

#popup-btn{
    border: none;
    padding: 10px 18px;
    background-color: #ff335f;
    color: #ffffff;
    outline: none;
    border-radius: 3px;
    transition: all ease-in-out 0.3s;
}


#popup-btn:hover{
    cursor: pointer;
    background-color: #ff335fe7;
}