body{
    min-width: 522px;
    min-height: 522px;
}
.container{
    position: absolute;
     top: 40px;
      left: 410px;
       width: 522px;
       height: 522px;
      border: 1px solid black;
}

.ui-draggable-dragging {
    z-index: 10000; !important
}


.ui-draggable {
    z-index: 10;
}

#border-top{
    height: 30px;
}

div[id*=cell-]{
    padding: 0px;
    margin: 0px;
    height: 65px;
    width: 65px;
}
div[id*=cell-black-]{
    background-color:#a2703f ;
}

div[id*=cell-white-]{
    background-color:#f3cf93 ;

}

div[id*=row-]{
    height: 65px;
}

span[id*=p-]{
    width: 65px;
    height: 65px;
    margin-left: 8px;
    font-size: 50px;
    text-align: center;
}

.color-path{
    border: 2px solid #7c8bc4;
    background-color: yellow !important;
}

.kill-cell-color{
    background-color: red !important;
}

#message-div{
    position: absolute;
    z-index: 1000;
    color: black;
    top: 5px;
    left: 5px;
    width: 390px;
    height: 20px;
}

.opposite-side-msg{
    font-size: 30px;
    text-align: center;
}

.color-body-white{
    background-color: white !important;
}

@media (width<=600px) {
    .container{
        position: static;
    }
}