body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(#b7e6ef, #878fb9);
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #6ab6e9;
    padding: 10px;
    border: 1px solid white;
    border-radius: 10px;
}

.controls {
    margin-bottom: 20px;
    text-align: center;
}

.controls button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 1.5em;
    background-color: #878fb9;
}

.controls button:hover {
    background-color: #6273c9;
}

.puzzle {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px);
    gap: 5px;
}

.piece {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: #8dc4e8;
    color: white;
    font-size: 2em;
    cursor: pointer;
    user-select: none;
    border: 1px solid white;
    border-radius: 10px;
}

.piece.empty {
    background-color: #8dc4e8;
    cursor: default;
}
