body {
    font-family: Arial, sans-serif;
  }
  
  .container {
    text-align: center;
    margin-top: 100px;
  }
  
  h1 {
    font-size: 24px;
  }
  
  html {
    box-sizing: border-box;
  }
  
  *, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }
  
  body {
    background-image: linear-gradient(to bottom,#ff9a9e, #fad0c4);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    user-select: none;
  }
  
  progress {
    border-radius: 2px;
    width: 100%;
    height: 12px;
    position: fixed;
    top: 0;
  }
  
  progress::-webkit-progress-bar {
   background-color: rgba(0, 0, 0, 0.1);;
  }
  
  progress::-webkit-progress-value {
    background-color: #fff;
  }
  .timer {
    text-align: center;
  }
  
  .clock {
    margin-top: 20px;
    color: rgb(180, 81, 114);
    margin-bottom: 1px;
    font-size: 100px;
    line-height: 1;
    display: flex;
    align-items: center;
    font-family: arial, sans-serif;
    margin-left: 30px;
  }
  
  .mode-button {
    font-size: 15px;
    font-weight: bold;
    height: 38px;
    cursor: pointer;
    font-weight: 500;
    color: #fff;
    border: 2px solid transparent;
    margin: 0px;
    border-radius: 4px;
    padding: 2px 12px;
    background: none;
  }
  
  .mode-button.active {
    border-color: #fff;
    margin-top: 30px;
  }
  .mode-button:hover {
    background-color: #fd6e73;
    box-shadow: 0px 3px 0px 0px #ff69b4;
    transform: translateY(2px);
  }
  
  .main-button {
    cursor: pointer;
    box-shadow: rgb(235, 235, 235) 0px 6px 0px;
    font-size: 22px;
    height: 55px;
    text-transform: uppercase;
    color: hsl(320, 95%, 15%);
    font-weight: bold;
    width: 200px;
    background-color: white;
    border-width: initial;
    border-style: none;
    margin: 20px 60px 30px;
    padding: 0px 12px;
    border-radius: 14px;
    transition: color 0.5s ease-in-out 0s;
  }
  
  button:focus, button:active {
    outline: none;
  }
  
  .main-button.active {
    transform: translateY(6px);
    box-shadow: none;
    outline: none;
  }
  .hidden {
    display: none;
  }
  
  @media screen and (max-width: 550px) {
    .clock {
      font-size: 8rem;
    }
  }
  /* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
::selection{
  color: #fff;
  background: #fd6e73;
}
.wrapper{
  max-width: 400px;
  opacity: 0.9;
  padding: 20px 0 30px;
  margin: 15px auto;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}
:root {
	--grey: #6B7280;
	--pink: #EC4899;
	--red: #eb3f3f;
	--light: #EEE;
}

header {
	padding: 1rem 1rem;
	max-width: 1000px;
	width: 100%;
	margin: auto;
}

header h1{ 
	font-size: 2rem;
	font-weight: 300;
	color: var(--pink);
	margin-bottom: 1rem;
}

#new-task-form {
	display: flex;;
}

input, button {
	appearance: none;
	border: none;
	outline: none;
	background: none;
}

#new-task-input {
	flex: 1 1 0%;
	background-color: var(--light);
	padding: 1rem;
	border-radius: 1rem;
	margin-right: 1rem;
	color: var(--pink);
	font-size: 1.2rem;
}

#new-task-input::placeholder {
	color: var(--grey);
}

#new-task-submit {
	color: var(--pink);
	font-size: 1.25rem;
	font-weight: 500;
	background-image: linear-gradient(to right, var(--pink), var(--red));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	cursor: pointer;
	transition: 0.4s;
}

#new-task-submit:hover {
	opacity: 0.8;
}

#new-task-submit:active {
	opacity: 0.6;
}

main {
	flex: 1 1 0%;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

.task-list {
	padding: 0.5rem;
}

.task-list h2 {
	font-size: 1.5rem;
	font-weight: 300;
	color: var(--pink);
	margin-bottom: 1rem;
}

#tasks .task {
	display: flex;
	justify-content: space-between;
	background-color: var(--darkest);
	padding: 1rem;
	border-radius: 1rem;
	margin-bottom: 0.5rem;
}

.task .content {
	flex: 1 1 0%;
}

.task .content .text {
	color: var(--pink);
	font-size: 1.115rem;
	width: 100%;
	display: block;
	transition: 0.4s;
}

.task .content .text:not(:read-only) {
	color: var(--pink);
}

.task .actions {
	display: flex;
	margin: 0 -0.3rem;
}

.task .actions button {
	cursor: pointer;
	margin: 0 0.5rem;
	font-size: 1.125rem;
	font-weight: 700;
	text-transform: uppercase;
	transition: 0.4s;
}

.task .actions button:hover {
	opacity: 0.8;
}

.task .actions button:active {
	opacity: 0.6;
}

.task .actions .edit {
	background-image: linear-gradient(to right, var(--pink), var(--red));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.task .actions .delete {
	color: crimson;
}