@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
    cursor: none;
}

html {
    user-select: none;
}

body {
    background: linear-gradient(to bottom, rgb(7, 115, 239), gray);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: 93vh;
    width: 380px;
    border: 2px solid rgba(128, 128, 128, 0.74);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(128, 128, 128, 0.34);
    backdrop-filter: blur(20px);
}

.score {
    font-size: 1.3em;
    margin: 1em 0;
    text-align: center;
}

.holesCont {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
    justify-items: center;
}

.hole {
    position: relative;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: #000;
    overflow: hidden;
}

.mole {
    position: absolute;
    z-index: 1;
    height: 60px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    animation: appear 0.3s linear;
    pointer-events: none;
}

@keyframes appear {
    from {
        bottom: -60px;
    }

    to {
        bottom: 0;
    }
}

.buttons {
    margin-top: 3em;
    text-align: center;
}

.buttons button {
    padding: 15px 45px;
    background-color: inherit;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 3px;
    outline: none;
}

button.stop {
    display: none;
}

.cursor img {
    position: absolute;
    height: 125px;
    z-index: 2;
    pointer-events: none;
}
@keyframes hit {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-30deg);
    }
}