* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    height: 100vh;
    margin: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
}

.outer-container {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-image: url('./assets/background1.avif');
    padding: 20px;
    border-radius: 8px;
    color: rgb(10, 10, 10);
    text-align: center;
    width: 320px; /* Increased width */
    height: 320px; /* Increased height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#input-label {
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    margin-bottom: 15px; /* Added spacing below the label */
}

#input-id {
    width: 100px;
    border: 1px solid #000; /* Added border */
    border-radius: 10px;
    padding: 8px;
    margin-bottom: 20px; /* Increased margin for better spacing */
}

button {
    cursor: pointer;
    border: none;
    border-radius: 10px;
    padding: 10px; /* Increased padding */
    background-image: linear-gradient(to right, #e4b06c, #897443, #90441d);
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(133, 68, 10, 0.3);
    transition: box-shadow 0.3s;
    margin-top: 10px;
    text-align: center;
}
button
{
box-shadow: 0 6px 8px rgba(176, 39, 29, 0.4);
}

#result {
padding: 10px;
margin-top: 20px;
border-radius: 8px;
color: white;
text-align: center;
justify-content: center;
font-weight: bold;
width: 100%;
box-sizing: border-box;
}