/*-----------------------------------------------
|   Font family, Position and Overflow [NTR]
-----------------------------------------------*/
.overflow-hidden, .overflow-hidden-x { overflow-x: hidden; }
.overflow-hidden, .overflow-hidden-y { overflow-y: hidden; }

