body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 20px;
  height: 100vh;
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

#board {
  background-color: black;
  border-top: 5px solid skyblue;
  border-left: 5px solid skyblue;
  border-right: 5px solid skyblue;
}

.instructions {
  background-color: #fff;
  border: 2px solid #000;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  text-align: center;
  width: 80%;
  max-width: 600px;
}

.instructions h2 {
  margin: 0 0 10px 0;
  font-size: 24px;
}

.instructions p {
  margin: 5px 0;
  font-size: 18px;
}

canvas {
  border: 2px solid #000;
  background-color: #000;
}
@media (width<=800px) {
  .instructions {
    display: none;
  }
  body {
    min-width: 500px;
    padding: 0;
  }
}
