body {
    width: 100vh;
    height: 100vh;
    margin: 0;
    padding-top: 50%;
    position: relative;
}

#main {

    padding: 20px;
    box-shadow: 0 0 100px 80px lightblue;
    background: lightblue;
    text-align: center;

}

.dif {
    display: inline-block;
    margin-top: 8px;
    font-weight: bold;
    font-size: 1em;
    width: 120px;
}


#log {
    display: none;
    position: relative;
    font-weight: bolder;
    font-size: 0.8em;
    text-align: center;
}

canvas {
    position: fixed;
    display: block;
    border: 3px solid #eee;
    margin: auto;
    border-radius: 7px;
    box-shadow: 0 0 15px;
}

#info {
    margin-left: 40px;
    color: red;
}

button {
    border: 1px solid white;
    border-radius: 7px;
    box-shadow: 0 0 5px, inset 0 0 25px;
    padding: 10px 40px;
    background-color: #f3f3f3;
    font-weight: bold;
    outline-style: none;
}

#btn-left,
#btn-right {
    border-radius: 50%;
    padding: 0 20px;
    font-size: 2em;
}

#infdiv {
    display: none;
    position: relative;
    margin: auto; 
    width: 80%;
    border: 3px solid lightblue;
    background-color: white;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 20px;
    font-weight: bolder;
    font-size: 0.9em;
}

.modal {
    border-radius: 10px;
    display: none;
    position: relative;
    z-index: 99;
    overflow: auto;
    background-color: rgba(0, 100, 0, 0.5);
}


.modal-content {
    color: white;
    background-color: rgba(0, 100, 0, 0.4);
    margin: 15% auto;
    padding: 20px;
    border: 2px solid white;
    border-radius: 10px;
    width: 80%;
    text-align: center;
}


.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}