body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

#statusText {
    margin-top: 20px;
    font-size: 1.5rem;
    color: rgb(0, 8, 255);
}

.container {
    min-width: 250px;
    min-height: 200px;
    text-align: left;
}

button {
    background-color: white;
    color: black;
    border: 2px solid #20b82f;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.1rem;
    margin: 4px 2px;
    margin-top: 1rem;
    transition-duration: 0.4s;
    cursor: pointer;
}

button:hover {
    background-color: #20b82f;
    color: white;
}