body {
  font-family: 'Poppins', sans-serif;
  background: url(background.jpg);
  background-size: cover;
  color: #333;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  padding: 20px;
}

h1,
h2 {
  color: #fff;
  background-color: #3498db;
  padding: 10px;
  border: 2px solid #2980b9;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  border-radius: 8px;
  margin: 10px 0;
}

.calculator-container {
  background-color: rgba(255, 255, 255, 0.3); /* 80% opacity */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  max-width: 400px;
  width: 100%;
  margin: 20px auto;
}

.input-container {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
}

input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #3498db;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  width: 100%;
}

button:hover {
  background-color: #2980b9;
}

.calculation-container,
.result-container {
  background-color: #f1f1f1;
  padding: 15px;
  border-radius: 5px;
  margin-top: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

p {
  margin: 0;
}
